<!--<%@ page contentType="text/html; charset=UTF-8" language="java" %>-->
<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<!--    <%@ include file="/static/m/jsp/include.jsp"%>-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=1.5,user-scalable=yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>照片参考</title>
    <meta name="description" content="云喵拍当"/>
    <meta name="keywords" content="云喵拍当"/>
    <script th:src="@{/jquery-1.10.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/pawn_part/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/pawn_part/css/base.css}"/>

</head>
<script type="text/javascript">
//    $(function(){
//        if(1 == code){
//            //奢侈品珠宝
//        }else if(2 == code){
//            //手表
//        }else if(3 == code){
//            //钻石
//        }else if(4 == code){
//            //贵金属
//        }else if(5 == code){
//            //翡翠玉石
//        }else if(6 == code){
//            //和田玉
//        }else if(7 == code){
//            //其他
//        }else if(8 == code){
//            //彩色宝石
//        }
//    });

$(function(){
    var code = '[[${code}]]';
    console.info("code="+code)
});

</script>
<body>
<div class="wrapper" style="padding: .15rem;width: 100%;box-sizing: border-box;" th:if="${code} ge 1 and ${code} le 8">
    <dl class="demo">
        <dt>正面</dt>
        <dd>
            <div th:if="${code} eq 1">
                <img th:src="@{/pawn_part/image/scp1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 2">
                <img th:src="@{/pawn_part/image/sb1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 3">
                <img th:src="@{/pawn_part/image/zs1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 4">
                <img th:src="@{/pawn_part/image/gjs1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 5">
                <img th:src="@{/pawn_part/image/fc1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 6">
                <img th:src="@{/pawn_part/image/hty1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 7">
                <img th:src="@{/pawn_part/image/qt1.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 8">
                <img th:src="@{/pawn_part/image/cszb1.png}" onclick="showBigImg(this);">
            </div>
        </dd>
    </dl>
    <dl class="demo">
        <dt>反面</dt>
        <dd>
            <div th:if="${code} eq 1">
                <img th:src="@{/pawn_part/image/scp2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 2">
                <img th:src="@{/pawn_part/image/sb2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 3">
                <img th:src="@{/pawn_part/image/zs2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 4">
                <img th:src="@{/pawn_part/image/gjs2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 5">
                <img th:src="@{/pawn_part/image/fc2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 6">
                <img th:src="@{/pawn_part/image/hty2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 7">
                <img th:src="@{/pawn_part/image/qt2.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 8">
                <img th:src="@{/pawn_part/image/cszb2.png}" onclick="showBigImg(this);">
            </div>
        </dd>
    </dl>
    <dl class="demo">
        <dt>局部</dt>
        <dd>
            <div th:if="${code} eq 1">
                <img th:src="@{/pawn_part/image/scp3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 2">
                <img th:src="@{/pawn_part/image/sb3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 3">
                <img th:src="@{/pawn_part/image/zs3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 4">
                <img th:src="@{/pawn_part/image/gjs3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 5">
                <img th:src="@{/pawn_part/image/fc3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 6">
                <img th:src="@{/pawn_part/image/hty3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 7">
                <img th:src="@{/pawn_part/image/qt3.png}" onclick="showBigImg(this);">
            </div>
            <div th:if="${code} eq 8">
                <img th:src="@{/pawn_part/image/cszb3.png}" onclick="showBigImg(this);">
            </div>
        </dd>
    </dl>

</div>


<div th:if="${code} eq 9" class="wrapper" style="padding: .15rem;width: 100%;box-sizing: border-box;">
    <dl class="demo">
        <dt>正面</dt>
        <dd>
            <img th:src="@{/pawn_part/image/tc1.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>侧面</dt>
        <dd>
            <img th:src="@{/pawn_part/image/tc2.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>背面</dt>
        <dd>
            <img th:src="@{/pawn_part/image/tc3.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>口沿</dt>
        <dd>
            <img th:src="@{/pawn_part/image/tc4.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>底面</dt>
        <dd>
            <img th:src="@{/pawn_part/image/tc5.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
</div>


<div th:if="${code} eq 10" class="wrapper" style="padding: .15rem;width: 100%;box-sizing: border-box;">
    <dl class="demo">
        <dt>正视</dt>
        <dd>
            <img th:src="@{/pawn_part/image/hh1.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>题跋</dt>
        <dd>
            <img th:src="@{/pawn_part/image/hh2.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>落款</dt>
        <dd>
            <img th:src="@{/pawn_part/image/hh3.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>局部</dt>
        <dd>
            <img th:src="@{/pawn_part/image/hh4.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>印鉴或签名</dt>
        <dd>
            <img th:src="@{/pawn_part/image/hh5.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
</div>


<div th:if="${code} eq 11" class="wrapper" style="padding: .15rem;width: 100%;box-sizing: border-box;">
    <dl class="demo">
        <dt>正视</dt>
        <dd>
            <img th:src="@{/pawn_part/image/sf1.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>题跋</dt>
        <dd>
            <img th:src="@{/pawn_part/image/sf2.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>落款</dt>
        <dd>
            <img th:src="@{/pawn_part/image/sf3.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>局部</dt>
        <dd>
            <img th:src="@{/pawn_part/image/sf4.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>印鉴</dt>
        <dd>
            <img th:src="@{/pawn_part/image/sf5.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
</div>


<div th:if="${code} eq 12" class="wrapper" style="padding: .15rem;width: 100%;box-sizing: border-box;">
    <dl class="demo">
        <dt>整体</dt>
        <dd>
            <img th:src="@{/pawn_part/image/wwzx1.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>45度</dt>
        <dd>
            <img th:src="@{/pawn_part/image/wwzx2.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>局部</dt>
        <dd>
            <img th:src="@{/pawn_part/image/wwzx5.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>背面</dt>
        <dd>
            <img th:src="@{/pawn_part/image/wwzx3.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
    <dl class="demo">
        <dt>底面</dt>
        <dd>
            <img th:src="@{/pawn_part/image/wwzx4.jpg}" onclick="showBigImg(this);">
        </dd>
    </dl>
</div>



</body>
<script type="text/javascript" th:src="@{/pawn_part/js/common.js}"></script>
<script type="text/javascript" th:src="@{/pawn_part/js/fastclick.js}"></script>

</html>