<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paidang.dao.ArticleMapper" >
    <resultMap id="BaseResultMap" type="com.paidang.dao.model.Article" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="cover" property="cover" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="is_show" property="isShow" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="imgs" property="imgs" jdbcType="VARCHAR" />
        <result column="video" property="video" jdbcType="VARCHAR" />
        <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
        <result column="collect_count" property="collectCount" jdbcType="INTEGER" />
        <result column="praise_count" property="praiseCount" jdbcType="INTEGER" />
        <result column="click_count" property="clickCount" jdbcType="INTEGER" />
        <result column="report_count" property="reportCount" jdbcType="INTEGER" />
        <result column="labels" property="labels" jdbcType="VARCHAR" />
        <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
        <result column="create_name" property="createName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_name" property="updateName" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="com.paidang.dao.model.Article" extends="BaseResultMap" >
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,user_id,cover,type,status,is_show,title,imgs,video,comment_count,collect_count,praise_count,click_count,report_count,labels,release_time,create_name,create_time,update_name,update_time,sort,description
    </sql>

    <sql id="Blob_Column_List" >
        content
    </sql>

    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from t_article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from t_article
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from t_article
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from t_article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into t_article (user_id,cover,
        type,status,is_show,
        title,content,imgs,
        video,comment_count,collect_count,
        praise_count,click_count,report_count,
        labels,release_time,create_name,
        create_time,update_name,update_time,
        sort,description
        )
        values (#{userId,jdbcType=INTEGER},#{cover,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{isShow,jdbcType=INTEGER},
        #{title,jdbcType=VARCHAR},#{content,jdbcType=LONGVARCHAR},#{imgs,jdbcType=VARCHAR},
        #{video,jdbcType=VARCHAR},#{commentCount,jdbcType=INTEGER},#{collectCount,jdbcType=INTEGER},
        #{praiseCount,jdbcType=INTEGER},#{clickCount,jdbcType=INTEGER},#{reportCount,jdbcType=INTEGER},
        #{labels,jdbcType=VARCHAR},#{releaseTime,jdbcType=TIMESTAMP},#{createName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{updateName,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP},
        #{sort,jdbcType=INTEGER},#{description,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into t_article
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="cover != null" >
                cover,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="isShow != null" >
                is_show,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="imgs != null" >
                imgs,
            </if>
            <if test="video != null" >
                video,
            </if>
            <if test="commentCount != null" >
                comment_count,
            </if>
            <if test="collectCount != null" >
                collect_count,
            </if>
            <if test="praiseCount != null" >
                praise_count,
            </if>
            <if test="clickCount != null" >
                click_count,
            </if>
            <if test="reportCount != null" >
                report_count,
            </if>
            <if test="labels != null" >
                labels,
            </if>
            <if test="releaseTime != null" >
                release_time,
            </if>
            <if test="createName != null" >
                create_name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateName != null" >
                update_name,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="description != null" >
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="cover != null" >
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isShow != null" >
                #{isShow,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="imgs != null" >
                #{imgs,jdbcType=VARCHAR},
            </if>
            <if test="video != null" >
                #{video,jdbcType=VARCHAR},
            </if>
            <if test="commentCount != null" >
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="collectCount != null" >
                #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="praiseCount != null" >
                #{praiseCount,jdbcType=INTEGER},
            </if>
            <if test="clickCount != null" >
                #{clickCount,jdbcType=INTEGER},
            </if>
            <if test="reportCount != null" >
                #{reportCount,jdbcType=INTEGER},
            </if>
            <if test="labels != null" >
                #{labels,jdbcType=VARCHAR},
            </if>
            <if test="releaseTime != null" >
                #{releaseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createName != null" >
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null" >
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from t_article
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update t_article
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.cover != null" >
                cover = #{record.cover,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.isShow != null" >
                is_show = #{record.isShow,jdbcType=INTEGER},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null" >
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.imgs != null" >
                imgs = #{record.imgs,jdbcType=VARCHAR},
            </if>
            <if test="record.video != null" >
                video = #{record.video,jdbcType=VARCHAR},
            </if>
            <if test="record.commentCount != null" >
                comment_count = #{record.commentCount,jdbcType=INTEGER},
            </if>
            <if test="record.collectCount != null" >
                collect_count = #{record.collectCount,jdbcType=INTEGER},
            </if>
            <if test="record.praiseCount != null" >
                praise_count = #{record.praiseCount,jdbcType=INTEGER},
            </if>
            <if test="record.clickCount != null" >
                click_count = #{record.clickCount,jdbcType=INTEGER},
            </if>
            <if test="record.reportCount != null" >
                report_count = #{record.reportCount,jdbcType=INTEGER},
            </if>
            <if test="record.labels != null" >
                labels = #{record.labels,jdbcType=VARCHAR},
            </if>
            <if test="record.releaseTime != null" >
                release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createName != null" >
                create_name = #{record.createName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateName != null" >
                update_name = #{record.updateName,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.sort != null" >
                sort = #{record.sort,jdbcType=INTEGER},
            </if>
            <if test="record.description != null" >
                description = #{record.description,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExampleWithBLOBs" >
        update t_article
        set id = #{id,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        cover = #{cover,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        is_show = #{isShow,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=LONGVARCHAR},
        imgs = #{imgs,jdbcType=VARCHAR},
        video = #{video,jdbcType=VARCHAR},
        comment_count = #{commentCount,jdbcType=INTEGER},
        collect_count = #{collectCount,jdbcType=INTEGER},
        praise_count = #{praiseCount,jdbcType=INTEGER},
        click_count = #{clickCount,jdbcType=INTEGER},
        report_count = #{reportCount,jdbcType=INTEGER},
        labels = #{labels,jdbcType=VARCHAR},
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
        create_name = #{createName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_name = #{updateName,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        sort = #{sort,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update t_article
        set id = #{id,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        cover = #{cover,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        is_show = #{isShow,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        imgs = #{imgs,jdbcType=VARCHAR},
        video = #{video,jdbcType=VARCHAR},
        comment_count = #{commentCount,jdbcType=INTEGER},
        collect_count = #{collectCount,jdbcType=INTEGER},
        praise_count = #{praiseCount,jdbcType=INTEGER},
        click_count = #{clickCount,jdbcType=INTEGER},
        report_count = #{reportCount,jdbcType=INTEGER},
        labels = #{labels,jdbcType=VARCHAR},
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
        create_name = #{createName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_name = #{updateName,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        sort = #{sort,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update t_article
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="cover != null" >
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isShow != null" >
                is_show = #{isShow,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="imgs != null" >
                imgs = #{imgs,jdbcType=VARCHAR},
            </if>
            <if test="video != null" >
                video = #{video,jdbcType=VARCHAR},
            </if>
            <if test="commentCount != null" >
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="collectCount != null" >
                collect_count = #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="praiseCount != null" >
                praise_count = #{praiseCount,jdbcType=INTEGER},
            </if>
            <if test="clickCount != null" >
                click_count = #{clickCount,jdbcType=INTEGER},
            </if>
            <if test="reportCount != null" >
                report_count = #{reportCount,jdbcType=INTEGER},
            </if>
            <if test="labels != null" >
                labels = #{labels,jdbcType=VARCHAR},
            </if>
            <if test="releaseTime != null" >
                release_time = #{releaseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createName != null" >
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null" >
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" >
        update t_article
        set user_id = #{userId,jdbcType=INTEGER},
        cover = #{cover,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        is_show = #{isShow,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=LONGVARCHAR},
        imgs = #{imgs,jdbcType=VARCHAR},
        video = #{video,jdbcType=VARCHAR},
        comment_count = #{commentCount,jdbcType=INTEGER},
        collect_count = #{collectCount,jdbcType=INTEGER},
        praise_count = #{praiseCount,jdbcType=INTEGER},
        click_count = #{clickCount,jdbcType=INTEGER},
        report_count = #{reportCount,jdbcType=INTEGER},
        labels = #{labels,jdbcType=VARCHAR},
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
        create_name = #{createName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_name = #{updateName,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        sort = #{sort,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR}
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update t_article
        set user_id = #{userId,jdbcType=INTEGER},
        cover = #{cover,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        is_show = #{isShow,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        imgs = #{imgs,jdbcType=VARCHAR},
        video = #{video,jdbcType=VARCHAR},
        comment_count = #{commentCount,jdbcType=INTEGER},
        collect_count = #{collectCount,jdbcType=INTEGER},
        praise_count = #{praiseCount,jdbcType=INTEGER},
        click_count = #{clickCount,jdbcType=INTEGER},
        report_count = #{reportCount,jdbcType=INTEGER},
        labels = #{labels,jdbcType=VARCHAR},
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
        create_name = #{createName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_name = #{updateName,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        sort = #{sort,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR}
        where id = #{id}
    </update>

    <select id="selectByWrapper" resultMap="BaseResultMap" >
        select
        <choose >
            <when test="sqlSelect != null" >
                ${sqlSelect}
            </when>
            <otherwise >
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        from t_article
        ${sqlSegment}
    </select>

    <select id="selectByWrapperWithBLOBs" resultMap="ResultMapWithBLOBs" >
        select
        <choose >
            <when test="sqlSelect != null" >
                ${sqlSelect}
            </when>
            <otherwise >
                <include refid="Base_Column_List" />
                ,
                <include refid="Blob_Column_List" />
            </otherwise>
        </choose>
        from t_article
        ${sqlSegment}
    </select>

</mapper>