<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paidang.dao.CouponMapper">
    <resultMap type="com.paidang.dao.model.Coupon" id="CouponResult">
        <result property="id"    column="id"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="full"    column="full"    />
        <result property="value"    column="value"    />
        <result property="num"    column="num"    />
        <result property="perNum"    column="per_num"    />
        <result property="startDay"    column="start_day"    />
        <result property="endDay"    column="end_day"    />
        <result property="form"    column="form"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="days"    column="days"    />
        <result property="fid"    column="fid"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectCouponVo">
        select id, org_id, org_name, full, value, num, per_num, start_day, end_day, form, remark, status, create_time, modify_time, days, fid, type from p_coupon pc
    </sql>

    <select id="selectCouponList" parameterType="com.paidang.dao.model.Coupon" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        <where>
            <if test="orgId != null "> and org_id = #{orgId}</if>
            <if test="orgName != null  and orgName != ''"> and org_name like concat('%', #{orgName}, '%')</if>
            <if test="full != null "> and full = #{full}</if>
            <if test="value != null "> and value = #{value}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="perNum != null "> and per_num = #{perNum}</if>
            <if test="startDay != null "> and start_day = #{startDay}</if>
            <if test="endDay != null "> and end_day = #{endDay}</if>
            <if test="form != null "> and form = #{form}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
            <if test="days != null "> and days = #{days}</if>
            <if test="fid != null "> and fid = #{fid}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="today != null">
                <![CDATA[ and start_day <= #{today} and endDay >= #{today} ]]>
            </if>
            <if test="userId != null">
                <if test="userState == null or userState == 0 or userState == 2">
                    and exists(select p.coupon_id from p_user_coupon p where p.user_id=#{userId} and p.coupon_id=pc.id and p.`state`=1)
                    <if test="serState != null and userState == 2">
                        <![CDATA[ and endDay < now() ]]>
                    </if>
                </if>
                <if test="userState != null and userState == 1" >
                    and exists(select p.coupon_id from p_user_coupon p where p.user_id=#{userId} and p.coupon_id=pc.id and p.`state`=0)
                </if>
            </if>
        </where>
    </select>

    <select id="selectCouponById" parameterType="Integer" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        where id = #{id}
    </select>

    <insert id="insertCoupon" parameterType="com.paidang.dao.model.Coupon" useGeneratedKeys="true" keyProperty="id">
        insert into p_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">org_id,</if>
            <if test="orgName != null">org_name,</if>
            <if test="full != null">full,</if>
            <if test="value != null">value,</if>
            <if test="num != null">num,</if>
            <if test="perNum != null">per_num,</if>
            <if test="startDay != null">start_day,</if>
            <if test="endDay != null">end_day,</if>
            <if test="form != null">form,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="days != null">days,</if>
            <if test="fid != null">fid,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">#{orgId},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="full != null">#{full},</if>
            <if test="value != null">#{value},</if>
            <if test="num != null">#{num},</if>
            <if test="perNum != null">#{perNum},</if>
            <if test="startDay != null">#{startDay},</if>
            <if test="endDay != null">#{endDay},</if>
            <if test="form != null">#{form},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="days != null">#{days},</if>
            <if test="fid != null">#{fid},</if>
            <if test="type != null">#{type},</if>
        </trim>
    </insert>

    <update id="updateCoupon" parameterType="com.paidang.dao.model.Coupon">
        update p_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="full != null">full = #{full},</if>
            <if test="value != null">value = #{value},</if>
            <if test="num != null">num = #{num},</if>
            <if test="perNum != null">per_num = #{perNum},</if>
            <if test="startDay != null">start_day = #{startDay},</if>
            <if test="endDay != null">end_day = #{endDay},</if>
            <if test="form != null">form = #{form},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="days != null">days = #{days},</if>
            <if test="fid != null">fid = #{fid},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCouponById" parameterType="Integer">
        delete from p_coupon where id = #{id}
    </delete>

    <delete id="deleteCouponByIds" parameterType="String">
        delete from p_coupon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>