<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paidang.dao.ExperterInfoMapper" >
    <resultMap id="BaseResultMap" type="com.paidang.dao.model.ExperterInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="experter_id" property="experterId" jdbcType="INTEGER" />
        <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="cc" property="cc" jdbcType="VARCHAR" />
        <result column="weight" property="weight" jdbcType="VARCHAR" />
        <result column="main_material" property="mainMaterial" jdbcType="VARCHAR" />
        <result column="other_material" property="otherMaterial" jdbcType="VARCHAR" />
        <result column="create_year" property="createYear" jdbcType="VARCHAR" />
        <result column="market_circulation" property="marketCirculation" jdbcType="VARCHAR" />
        <result column="stability_of_price" property="stabilityOfPrice" jdbcType="VARCHAR" />
        <result column="material_vulnerable" property="materialVulnerable" jdbcType="VARCHAR" />
        <result column="experter_price" property="experterPrice" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,title,experter_id,goods_id,state,info,name,create_time,cc,weight,main_material,other_material,create_year,market_circulation,stability_of_price,material_vulnerable,experter_price
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from p_experter_info
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from p_experter_info
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from p_experter_info
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from p_experter_info
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into p_experter_info (title,experter_id,
        goods_id,state,info,
        name,create_time,cc,
        weight,main_material,other_material,
        create_year,market_circulation,stability_of_price,
        material_vulnerable,experter_price
        )
        values (#{title,jdbcType=VARCHAR},#{experterId,jdbcType=INTEGER},
        #{goodsId,jdbcType=INTEGER},#{state,jdbcType=TINYINT},#{info,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{cc,jdbcType=VARCHAR},
        #{weight,jdbcType=VARCHAR},#{mainMaterial,jdbcType=VARCHAR},#{otherMaterial,jdbcType=VARCHAR},
        #{createYear,jdbcType=VARCHAR},#{marketCirculation,jdbcType=VARCHAR},#{stabilityOfPrice,jdbcType=VARCHAR},
        #{materialVulnerable,jdbcType=VARCHAR},#{experterPrice,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into p_experter_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="title != null" >
                title,
            </if>
            <if test="experterId != null" >
                experter_id,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="info != null" >
                info,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="cc != null" >
                cc,
            </if>
            <if test="weight != null" >
                weight,
            </if>
            <if test="mainMaterial != null" >
                main_material,
            </if>
            <if test="otherMaterial != null" >
                other_material,
            </if>
            <if test="createYear != null" >
                create_year,
            </if>
            <if test="marketCirculation != null" >
                market_circulation,
            </if>
            <if test="stabilityOfPrice != null" >
                stability_of_price,
            </if>
            <if test="materialVulnerable != null" >
                material_vulnerable,
            </if>
            <if test="experterPrice != null" >
                experter_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="experterId != null" >
                #{experterId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
            <if test="info != null" >
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cc != null" >
                #{cc,jdbcType=VARCHAR},
            </if>
            <if test="weight != null" >
                #{weight,jdbcType=VARCHAR},
            </if>
            <if test="mainMaterial != null" >
                #{mainMaterial,jdbcType=VARCHAR},
            </if>
            <if test="otherMaterial != null" >
                #{otherMaterial,jdbcType=VARCHAR},
            </if>
            <if test="createYear != null" >
                #{createYear,jdbcType=VARCHAR},
            </if>
            <if test="marketCirculation != null" >
                #{marketCirculation,jdbcType=VARCHAR},
            </if>
            <if test="stabilityOfPrice != null" >
                #{stabilityOfPrice,jdbcType=VARCHAR},
            </if>
            <if test="materialVulnerable != null" >
                #{materialVulnerable,jdbcType=VARCHAR},
            </if>
            <if test="experterPrice != null" >
                #{experterPrice,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from p_experter_info
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update p_experter_info
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.experterId != null" >
                experter_id = #{record.experterId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsId != null" >
                goods_id = #{record.goodsId,jdbcType=INTEGER},
            </if>
            <if test="record.state != null" >
                state = #{record.state,jdbcType=TINYINT},
            </if>
            <if test="record.info != null" >
                info = #{record.info,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.cc != null" >
                cc = #{record.cc,jdbcType=VARCHAR},
            </if>
            <if test="record.weight != null" >
                weight = #{record.weight,jdbcType=VARCHAR},
            </if>
            <if test="record.mainMaterial != null" >
                main_material = #{record.mainMaterial,jdbcType=VARCHAR},
            </if>
            <if test="record.otherMaterial != null" >
                other_material = #{record.otherMaterial,jdbcType=VARCHAR},
            </if>
            <if test="record.createYear != null" >
                create_year = #{record.createYear,jdbcType=VARCHAR},
            </if>
            <if test="record.marketCirculation != null" >
                market_circulation = #{record.marketCirculation,jdbcType=VARCHAR},
            </if>
            <if test="record.stabilityOfPrice != null" >
                stability_of_price = #{record.stabilityOfPrice,jdbcType=VARCHAR},
            </if>
            <if test="record.materialVulnerable != null" >
                material_vulnerable = #{record.materialVulnerable,jdbcType=VARCHAR},
            </if>
            <if test="record.experterPrice != null" >
                experter_price = #{record.experterPrice,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update p_experter_info
        set id = #{id,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        experter_id = #{experterId,jdbcType=INTEGER},
        goods_id = #{goodsId,jdbcType=INTEGER},
        state = #{state,jdbcType=TINYINT},
        info = #{info,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        cc = #{cc,jdbcType=VARCHAR},
        weight = #{weight,jdbcType=VARCHAR},
        main_material = #{mainMaterial,jdbcType=VARCHAR},
        other_material = #{otherMaterial,jdbcType=VARCHAR},
        create_year = #{createYear,jdbcType=VARCHAR},
        market_circulation = #{marketCirculation,jdbcType=VARCHAR},
        stability_of_price = #{stabilityOfPrice,jdbcType=VARCHAR},
        material_vulnerable = #{materialVulnerable,jdbcType=VARCHAR},
        experter_price = #{experterPrice,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update p_experter_info
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="experterId != null" >
                experter_id = #{experterId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="info != null" >
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cc != null" >
                cc = #{cc,jdbcType=VARCHAR},
            </if>
            <if test="weight != null" >
                weight = #{weight,jdbcType=VARCHAR},
            </if>
            <if test="mainMaterial != null" >
                main_material = #{mainMaterial,jdbcType=VARCHAR},
            </if>
            <if test="otherMaterial != null" >
                other_material = #{otherMaterial,jdbcType=VARCHAR},
            </if>
            <if test="createYear != null" >
                create_year = #{createYear,jdbcType=VARCHAR},
            </if>
            <if test="marketCirculation != null" >
                market_circulation = #{marketCirculation,jdbcType=VARCHAR},
            </if>
            <if test="stabilityOfPrice != null" >
                stability_of_price = #{stabilityOfPrice,jdbcType=VARCHAR},
            </if>
            <if test="materialVulnerable != null" >
                material_vulnerable = #{materialVulnerable,jdbcType=VARCHAR},
            </if>
            <if test="experterPrice != null" >
                experter_price = #{experterPrice,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update p_experter_info
        set title = #{title,jdbcType=VARCHAR},
        experter_id = #{experterId,jdbcType=INTEGER},
        goods_id = #{goodsId,jdbcType=INTEGER},
        state = #{state,jdbcType=TINYINT},
        info = #{info,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        cc = #{cc,jdbcType=VARCHAR},
        weight = #{weight,jdbcType=VARCHAR},
        main_material = #{mainMaterial,jdbcType=VARCHAR},
        other_material = #{otherMaterial,jdbcType=VARCHAR},
        create_year = #{createYear,jdbcType=VARCHAR},
        market_circulation = #{marketCirculation,jdbcType=VARCHAR},
        stability_of_price = #{stabilityOfPrice,jdbcType=VARCHAR},
        material_vulnerable = #{materialVulnerable,jdbcType=VARCHAR},
        experter_price = #{experterPrice,jdbcType=VARCHAR}
        where id = #{id}
    </update>

    <select id="selectByWrapper" resultMap="BaseResultMap" >
        select
        <choose >
            <when test="sqlSelect != null" >
                ${sqlSelect}
            </when>
            <otherwise >
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        from p_experter_info
        ${sqlSegment}
    </select>

</mapper>