<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paidang.dao.IntegralLogMapper" >
    <resultMap id="BaseResultMap" type="com.paidang.dao.model.IntegralLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="integral" property="integral" jdbcType="DECIMAL" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="log_id" property="logId" jdbcType="VARCHAR" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="create_account" property="createAccount" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="account_type" property="accountType" jdbcType="INTEGER" />
        <result column="integral_new" property="integralNew" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,user_id,integral,type,log_id,info,create_account,create_time,account_type,integral_new
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_integral_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from t_integral_log
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from t_integral_log
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from t_integral_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into t_integral_log (user_id,integral,
        type,log_id,info,
        create_account,create_time,account_type,
        integral_new
        )
        values (#{userId,jdbcType=INTEGER},#{integral,jdbcType=DECIMAL},
        #{type,jdbcType=INTEGER},#{logId,jdbcType=VARCHAR},#{info,jdbcType=VARCHAR},
        #{createAccount,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{accountType,jdbcType=INTEGER},
        #{integralNew,jdbcType=DECIMAL}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into t_integral_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="integral != null" >
                integral,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="logId != null" >
                log_id,
            </if>
            <if test="info != null" >
                info,
            </if>
            <if test="createAccount != null" >
                create_account,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="accountType != null" >
                account_type,
            </if>
            <if test="integralNew != null" >
                integral_new,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="integral != null" >
                #{integral,jdbcType=DECIMAL},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="logId != null" >
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="info != null" >
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="createAccount != null" >
                #{createAccount,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="accountType != null" >
                #{accountType,jdbcType=INTEGER},
            </if>
            <if test="integralNew != null" >
                #{integralNew,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from t_integral_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update t_integral_log
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.integral != null" >
                integral = #{record.integral,jdbcType=DECIMAL},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.logId != null" >
                log_id = #{record.logId,jdbcType=VARCHAR},
            </if>
            <if test="record.info != null" >
                info = #{record.info,jdbcType=VARCHAR},
            </if>
            <if test="record.createAccount != null" >
                create_account = #{record.createAccount,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.accountType != null" >
                account_type = #{record.accountType,jdbcType=INTEGER},
            </if>
            <if test="record.integralNew != null" >
                integral_new = #{record.integralNew,jdbcType=DECIMAL},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update t_integral_log
        set id = #{id,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        integral = #{integral,jdbcType=DECIMAL},
        type = #{type,jdbcType=INTEGER},
        log_id = #{logId,jdbcType=VARCHAR},
        info = #{info,jdbcType=VARCHAR},
        create_account = #{createAccount,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        account_type = #{accountType,jdbcType=INTEGER},
        integral_new = #{integralNew,jdbcType=DECIMAL}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update t_integral_log
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="integral != null" >
                integral = #{integral,jdbcType=DECIMAL},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="logId != null" >
                log_id = #{logId,jdbcType=VARCHAR},
            </if>
            <if test="info != null" >
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="createAccount != null" >
                create_account = #{createAccount,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="accountType != null" >
                account_type = #{accountType,jdbcType=INTEGER},
            </if>
            <if test="integralNew != null" >
                integral_new = #{integralNew,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update t_integral_log
        set user_id = #{userId,jdbcType=INTEGER},
        integral = #{integral,jdbcType=DECIMAL},
        type = #{type,jdbcType=INTEGER},
        log_id = #{logId,jdbcType=VARCHAR},
        info = #{info,jdbcType=VARCHAR},
        create_account = #{createAccount,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        account_type = #{accountType,jdbcType=INTEGER},
        integral_new = #{integralNew,jdbcType=DECIMAL}
        where id = #{id}
    </update>

    <select id="selectByWrapper" resultMap="BaseResultMap" >
        select
        <choose >
            <when test="sqlSelect != null" >
                ${sqlSelect}
            </when>
            <otherwise >
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        from t_integral_log
        ${sqlSegment}
    </select>

</mapper>