<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.dao.SmsSendLogMapper" >
    <resultMap id="BaseResultMap" type="com.item.dao.model.SmsSendLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,phone,device_id,ip,create_time,type,code
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from b_sms_send_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from b_sms_send_log
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from b_sms_send_log
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from b_sms_send_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into b_sms_send_log (phone,device_id,
        ip,create_time,type,
        code
        )
        values (#{phone,jdbcType=VARCHAR},#{deviceId,jdbcType=VARCHAR},
        #{ip,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{type,jdbcType=INTEGER},
        #{code,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into b_sms_send_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="phone != null" >
                phone,
            </if>
            <if test="deviceId != null" >
                device_id,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="code != null" >
                code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from b_sms_send_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update b_sms_send_log
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.phone != null" >
                phone = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.deviceId != null" >
                device_id = #{record.deviceId,jdbcType=VARCHAR},
            </if>
            <if test="record.ip != null" >
                ip = #{record.ip,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.code != null" >
                code = #{record.code,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update b_sms_send_log
        set id = #{id,jdbcType=INTEGER},
        phone = #{phone,jdbcType=VARCHAR},
        device_id = #{deviceId,jdbcType=VARCHAR},
        ip = #{ip,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        type = #{type,jdbcType=INTEGER},
        code = #{code,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update b_sms_send_log
        <set >
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update b_sms_send_log
        set phone = #{phone,jdbcType=VARCHAR},
        device_id = #{deviceId,jdbcType=VARCHAR},
        ip = #{ip,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        type = #{type,jdbcType=INTEGER},
        code = #{code,jdbcType=VARCHAR}
        where id = #{id}
    </update>

</mapper>