<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.dao.UserGroupMapper" >
    <resultMap id="BaseResultMap" type="com.item.dao.model.UserGroup" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="class_name" property="className" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,parent_id,code,name,info,url,class_name,level,modify_time,create_time
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from r_user_group
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from r_user_group
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from r_user_group
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from r_user_group
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into r_user_group (parent_id,code,
        name,info,url,
        class_name,level,modify_time,
        create_time
        )
        values (#{parentId,jdbcType=INTEGER},#{code,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},#{info,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},
        #{className,jdbcType=VARCHAR},#{level,jdbcType=INTEGER},#{modifyTime,jdbcType=TIMESTAMP},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into r_user_group
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="code != null" >
                code,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="info != null" >
                info,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="className != null" >
                class_name,
            </if>
            <if test="level != null" >
                level,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="parentId != null" >
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="info != null" >
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="className != null" >
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="level != null" >
                #{level,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from r_user_group
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update r_user_group
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.parentId != null" >
                parent_id = #{record.parentId,jdbcType=INTEGER},
            </if>
            <if test="record.code != null" >
                code = #{record.code,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.info != null" >
                info = #{record.info,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null" >
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.className != null" >
                class_name = #{record.className,jdbcType=VARCHAR},
            </if>
            <if test="record.level != null" >
                level = #{record.level,jdbcType=INTEGER},
            </if>
            <if test="record.modifyTime != null" >
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update r_user_group
        set id = #{id,jdbcType=INTEGER},
        parent_id = #{parentId,jdbcType=INTEGER},
        code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        info = #{info,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        class_name = #{className,jdbcType=VARCHAR},
        level = #{level,jdbcType=INTEGER},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update r_user_group
        <set >
            <if test="parentId != null" >
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="info != null" >
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="className != null" >
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="level != null" >
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update r_user_group
        set parent_id = #{parentId,jdbcType=INTEGER},
        code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        info = #{info,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        class_name = #{className,jdbcType=VARCHAR},
        level = #{level,jdbcType=INTEGER},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

</mapper>