<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paidang.dao.VideoOnlineMapper" >
    <resultMap id="BaseResultMap" type="com.paidang.dao.model.VideoOnline" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="img" property="img" jdbcType="VARCHAR" />
        <result column="video" property="video" jdbcType="VARCHAR" />
        <result column="view_cnt" property="viewCnt" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="is_suggest" property="isSuggest" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,title,img,video,view_cnt,state,create_time,is_suggest
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from p_video_online
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from p_video_online
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from p_video_online
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from p_video_online
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into p_video_online (title,img,
        video,view_cnt,state,
        create_time,is_suggest
        )
        values (#{title,jdbcType=VARCHAR},#{img,jdbcType=VARCHAR},
        #{video,jdbcType=VARCHAR},#{viewCnt,jdbcType=INTEGER},#{state,jdbcType=TINYINT},
        #{createTime,jdbcType=TIMESTAMP},#{isSuggest,jdbcType=TINYINT}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into p_video_online
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="title != null" >
                title,
            </if>
            <if test="img != null" >
                img,
            </if>
            <if test="video != null" >
                video,
            </if>
            <if test="viewCnt != null" >
                view_cnt,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="isSuggest != null" >
                is_suggest,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="img != null" >
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="video != null" >
                #{video,jdbcType=VARCHAR},
            </if>
            <if test="viewCnt != null" >
                #{viewCnt,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isSuggest != null" >
                #{isSuggest,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from p_video_online
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update p_video_online
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.img != null" >
                img = #{record.img,jdbcType=VARCHAR},
            </if>
            <if test="record.video != null" >
                video = #{record.video,jdbcType=VARCHAR},
            </if>
            <if test="record.viewCnt != null" >
                view_cnt = #{record.viewCnt,jdbcType=INTEGER},
            </if>
            <if test="record.state != null" >
                state = #{record.state,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isSuggest != null" >
                is_suggest = #{record.isSuggest,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update p_video_online
        set id = #{id,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        img = #{img,jdbcType=VARCHAR},
        video = #{video,jdbcType=VARCHAR},
        view_cnt = #{viewCnt,jdbcType=INTEGER},
        state = #{state,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        is_suggest = #{isSuggest,jdbcType=TINYINT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update p_video_online
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="img != null" >
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="video != null" >
                video = #{video,jdbcType=VARCHAR},
            </if>
            <if test="viewCnt != null" >
                view_cnt = #{viewCnt,jdbcType=INTEGER},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isSuggest != null" >
                is_suggest = #{isSuggest,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update p_video_online
        set title = #{title,jdbcType=VARCHAR},
        img = #{img,jdbcType=VARCHAR},
        video = #{video,jdbcType=VARCHAR},
        view_cnt = #{viewCnt,jdbcType=INTEGER},
        state = #{state,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        is_suggest = #{isSuggest,jdbcType=TINYINT}
        where id = #{id}
    </update>

</mapper>