<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.dao.UserNotifyMapper" >
    <resultMap id="BaseResultMap" type="com.item.dao.model.UserNotify" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="nid" property="nid" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="redirect_type" property="redirectType" jdbcType="TINYINT" />
        <result column="redirect_content" property="redirectContent" jdbcType="VARCHAR" />
        <result column="is_read" property="isRead" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id,user_id,nid,type,title,content,redirect_type,redirect_content,is_read,create_time
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from b_user_notify
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from b_user_notify
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" >
        delete from b_user_notify
        where id = #{id}
    </delete>

    <delete id="deleteByExample" >
        delete from b_user_notify
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into b_user_notify (user_id,nid,
        type,title,content,
        redirect_type,redirect_content,is_read,
        create_time
        )
        values (#{userId,jdbcType=INTEGER},#{nid,jdbcType=INTEGER},
        #{type,jdbcType=TINYINT},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
        #{redirectType,jdbcType=TINYINT},#{redirectContent,jdbcType=VARCHAR},#{isRead,jdbcType=TINYINT},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
        insert into b_user_notify
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="nid != null" >
                nid,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="redirectType != null" >
                redirect_type,
            </if>
            <if test="redirectContent != null" >
                redirect_content,
            </if>
            <if test="isRead != null" >
                is_read,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="nid != null" >
                #{nid,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                #{type,jdbcType=TINYINT},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="redirectType != null" >
                #{redirectType,jdbcType=TINYINT},
            </if>
            <if test="redirectContent != null" >
                #{redirectContent,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null" >
                #{isRead,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" resultType="java.lang.Integer" >
        select count(*) from b_user_notify
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" >
        update b_user_notify
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.nid != null" >
                nid = #{record.nid,jdbcType=INTEGER},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=TINYINT},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null" >
                content = #{record.content,jdbcType=VARCHAR},
            </if>
            <if test="record.redirectType != null" >
                redirect_type = #{record.redirectType,jdbcType=TINYINT},
            </if>
            <if test="record.redirectContent != null" >
                redirect_content = #{record.redirectContent,jdbcType=VARCHAR},
            </if>
            <if test="record.isRead != null" >
                is_read = #{record.isRead,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" >
        update b_user_notify
        set id = #{id,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        nid = #{nid,jdbcType=INTEGER},
        type = #{type,jdbcType=TINYINT},
        title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        redirect_type = #{redirectType,jdbcType=TINYINT},
        redirect_content = #{redirectContent,jdbcType=VARCHAR},
        is_read = #{isRead,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" >
        update b_user_notify
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="nid != null" >
                nid = #{nid,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="redirectType != null" >
                redirect_type = #{redirectType,jdbcType=TINYINT},
            </if>
            <if test="redirectContent != null" >
                redirect_content = #{redirectContent,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null" >
                is_read = #{isRead,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" >
        update b_user_notify
        set user_id = #{userId,jdbcType=INTEGER},
        nid = #{nid,jdbcType=INTEGER},
        type = #{type,jdbcType=TINYINT},
        title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        redirect_type = #{redirectType,jdbcType=TINYINT},
        redirect_content = #{redirectContent,jdbcType=VARCHAR},
        is_read = #{isRead,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

</mapper>